@font-face{
    src: url(fonts/Trophy.ttf);
    font-family: Trophy Regular;
}

@keyframes heart{
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

body{
    background-color: #FF89BB;
}

h1{
    font-family: 'Trophy Regular';
    font-size: 30px;
    text-align: center;
    color: rgb(248, 242, 176);
}

h2{
    font-family: 'Trophy Regular';
    font-size: 15px;
    text-align: center;
    color: rgb(248, 242, 176);
}

#heartImage{
    animation-name: heart;
    animation-iteration-count: infinite;
}

#scroll{
    font-family: 'Trophy Regular';
    font-size: 15px;
    text-align: center;
    color: rgb(248, 242, 176);
    line-height: 1.8;
}

#message{
    font-family: 'Trophy Regular';
    font-size: 10px;
    text-align: center;
    color: rgb(248, 242, 176);
    line-height: 1.8;
}

#sign{
    font-family: 'Trophy Regular';
    font-size: 13px;
    text-align: right;
    color: rgb(248, 242, 176);
    line-height: 1.8;
}

#click{
    background-color: #9d1a50;
    font-family: 'Trophy Regular';
    font-size: 10px;
    border: 3px solid rgb(248, 242, 176);
    border-radius: 20px;
}

button:hover{
    filter: brightness(150%);
}

#container{
    text-align: center;  
    border-color: rgb(167, 158, 57);
}